<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kgc.shop.mapper.OrderDetailMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="OrderDetailEntity" id="orderDetailMap">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="price" column="price"/>
        <result property="number" column="number"/>
    </resultMap>
  
  <!--要查询的字段-->  
  <sql id="sel_OrderDetailColumns_List" > 
  	  id ,        
   order_id  ,        
   goods_id  ,        
  price ,        
  number         
  
  </sql>
  
  <!--要添加的字段-->
  <sql id="ins_OrderDetailColumns_List" >
       #{id},   #{orderId},   #{goodsId},   #{price},   #{number}   </sql> 
  
  <!--要修改的字段-->
  <sql id="upd_OrderDetailColumns_List" >
    <set>
    <if test="t.orderId != null">order_id = #{t.orderId}, </if>
    <if test="t.goodsId != null">goods_id = #{t.goodsId}, </if>
    <if test="t.price != null">price = #{t.price}, </if>
    <if test="t.number != null">number = #{t.number}</if>
	</set>
	where id = #{t.id}
  </sql> 
  
  <!--定义删除的条件-->
  <sql id="del_OrderDetailPramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.orderId != null">and order_id = #{t.orderId}</if>
    <if test="t.goodsId != null">and goods_id = #{t.goodsId}</if>
    <if test="t.price != null">and price = #{t.price}</if>
    <if test="t.number != null">and number = #{t.number}</if>
	</where>
  </sql> 
  
  <!--定义查询的条件-->
  <sql id="sel_OrderDetailPramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.orderId != null">and order_id = #{t.orderId}</if>
    <if test="t.goodsId != null">and goods_id = #{t.goodsId}</if>
    <if test="t.price != null">and price = #{t.price}</if>
    <if test="t.number != null">and number = #{t.number}</if>
	</where>
  </sql>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into order_detail values (<include refid="ins_OrderDetailColumns_List" />)
    </insert>

    <!--修改-->
    <update id="update">
        update order_detail <include refid="upd_OrderDetailColumns_List" />
    </update>

    <!--根据条件删除-->
    <delete id="delete">
        delete from order_detail <include refid="del_OrderDetailPramas_List" />
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from order_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据主键id查询单个对象-->
	<select id="queryObjectById" resultMap="orderDetailMap">
		select  <include refid="sel_OrderDetailColumns_List" />  from order_detail where id = #{id}
	</select>
	
	<!--查询所有对象-->
	<select id="queryAll" resultMap="orderDetailMap">
		select  <include refid="sel_OrderDetailColumns_List" />  from order_detail
    </select>

    <!--根据条件（无条件）查询多个对象-->
	<select id="queryManyByPramas" resultMap="orderDetailMap">
		select  <include refid="sel_OrderDetailColumns_List" />  from order_detail <include refid="sel_OrderDetailPramas_List" />
	</select>
	
	<!--根据条件（无条件）分页查询-->
	<select id="queryListByPramas" resultMap="orderDetailMap">
		select  <include refid="sel_OrderDetailColumns_List" />  from order_detail <include refid="sel_OrderDetailPramas_List" /> order by id desc
	</select>

    <!--根据条件查询单条数据-->
    <select id="queryObjectByPramas" resultMap="orderDetailMap">
        select  <include refid="sel_OrderDetailColumns_List" />  from order_detail <include refid="sel_OrderDetailPramas_List" />
    </select>
	
	<!--根据条件（无条件）查询数据条数-->
 	<select id="queryTotalByPramas" resultType="java.lang.Long">
		select count(*) from order_detail <include refid="sel_OrderDetailPramas_List" />
	</select>

    <!--根据订单编号查询订单信息-->
    <select id="queryOrderDetailListByOrderId" resultMap="orderDetailMap">
        select  t1.id,t1.order_id,t1.goods_id,t1.price,t1.number,t2.good_name as goodName from order_detail as t1 ,goods as t2
        where t1.order_id=#{orderId} and t1.goods_id=t2.goods_id
    </select>

</mapper>